asarPy==1.0.1
attrs==23.2.0
cfgv==3.4.0
coverage==7.4.3
distlib==0.3.8
exceptiongroup==1.2.0
Faker==24.4.0
filelock==3.13.3
identify==2.5.35
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pprintpp==0.4.0
pre-commit==3.7.0
Pygments==2.17.2
pytest==7.2.1
pytest-clarity==1.0.1
pytest-cov==4.1.0
pytest-testdox==3.1.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
rich==13.7.1
ruff==0.3.4
six==1.16.0
tomli==2.0.1
virtualenv==20.25.1
